$vert: #7AB51D;
$jaune: #F7CB06;

div {
   // border: 1px solid gray;
}

@media screen and (min-width: 800px) {
   a {
      text-decoration: none;
      color: black;
   }

   .filtre_vert {
      background-color: rgba(33,55,1,0.7);
      filter: contrast(150%);

      .contact {
         display: flex;
         justify-content: flex-end;
         height: 20px;

         div {
            padding-right: 20px;

            a {
               color: white;
            }
         }
      }

      .logo {
         display: flex;
         justify-content: center;
      }

      .titre_logo {
         display: flex;
         justify-content: center;

         div {
            margin-top: -10px;
            color: white;
         }
      }
   }

   .jaune_vert_menu {
      display: flex;
      justify-content: space-around;
      height: 50px;

      h2 {
         line-height: 50px;
         font-size: 20px;
      }

      .cadre_jaune_menu {
         width: 100%;
         display: flex;
         justify-content: center;
         background-color: $jaune;
      }

      img {
         width: 42px;
      }

      .cadre_vert_menu {
         width: 100%;
         display: flex;
         justify-content: center;
         background-color: $vert;
      }
   }

   .img_bg {

      div {
         display: flex;
         position: relative;
         bottom: 155px;
         z-index: -1;
         margin-bottom: -155px;
      }
   }

   .row {
      display: flex;

      .cadre_vert {
         background-color: $vert;
         height: 30px;
         width: 50%;
      }

      .cadre_jaune {
         background-color: $jaune;
         height: 30px;
         width: 50%;
      }
   }

   .all_news {
      display: flex;
      justify-content: center;

      .actu_legumes {
         width: 49%;

         .news_legumes {
            display: flex;
            justify-content: center;

            h2 {
               padding-top: 10px;
            }
         }

         .tomates {
            display: flex;
            justify-content: center;
         }

         .fete {
            display: flex;
            justify-content: center;
         }
      }

      .actu_pain {
         width: 49%;

         .news_pain {
            display: flex;
            justify-content: center;

            h2 {
               padding-top: 10px;
            }
         }

         .pain {
            display: flex;
            justify-content: center;
         }
      }

      .texte_actu {
         width: 300px;
         padding: 5px;
         text-align: justify;
      }
   }

   @mixin carousel {
      p {
         width: 110%;
         display: block;
         line-height: 50px;
         color: rgba(255, 255, 255, 0.4);
         animation-duration: 10s;
         animation-name: defilement;
         animation-iteration-count: infinite;
         animation-timing-function: linear;
      }

      @keyframes defilement {
         0% {
            transform: translate3d(0,0,0);      /* position initiale à droite */
         }
         50% {
            transform: translate3d(-10%,0,0);
         }
         100% {
            transform: translate3d(0,0,0);  /* position finale à gauche */
         }
      }
   }

   @function ajoute($text) {
      @for $i from 0 through 4 {
         $text: $text + $text;
      }
      $resultat: $text;
      @return $resultat;
   }

   #legumes {
      height: 50px;
      background-color: $vert;
      overflow: hidden;

      @include carousel;

      p:before {
         content: ajoute(" Légumes de saison -");
      }
   }

   .all_legumes {
      display: flex;

      .jacques {
         display: flex;
         flex-direction: column;
         text-align: center;
         padding-left: 10%;
         padding-right: 10%;
         padding-top: 5%;
         width: 50%;

         .jacques_title {
            text-align: center;

            h2 {
               background-color: $vert;
            }
         }

         .jacques_image {
            padding-top: 5%;
            padding-bottom: 5%;
         }

         .jacques_text {
            text-align: left;
         }
      }

      .carousel_legume {
         width: 50%;
         background-image: url("../img/slide-legume1.jpg");
         background-repeat: round;
         div {
            text-align: center;
            position: relative;

            h5 {
               position: absolute;
               top: 50px;
               right: 50px;
               color: white;
               background-color: $vert;
               width: 200px;
               font-size: 18px;
            }
         }
      }
   }

   #pain {
      height: 50px;
      background-color: $jaune;
      overflow: hidden;

      @include carousel;

      p:before {
         content: ajoute(" Pain au levain -");
      }
   }
}

.all_pain {
   display: flex;

   .jean {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-left: 10%;
      padding-right: 10%;
      padding-top: 5%;
      width: 50%;

      .jean_title {
         text-align: center;

         h2 {
            background-color: $jaune;
         }
      }

      .jean_image {
         padding-top: 5%;
         padding-bottom: 5%;
      }

      .jean_text {
         text-align: left;
      }
   }

   .carousel_pain {
      width: 50%;
      background-image: url("../img/slide-pain1.jpg");
      background-repeat: round;
      div {
         text-align: center;
         position: relative;

         h5 {
            position: absolute;
            top: 50px;
            left: 50px;
            color: white;
            background-color: $jaune;
            width: 200px;
            font-size: 18px;
         }
      }
   }
}
